.round-button {
	border-top-left-radius: 100px !important;
	border-bottom-left-radius: 100px !important;
	border-top-right-radius: 100px !important;
	border-bottom-right-radius: 100px !important;
	font-size: 12px !important;
}

.hidden-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
